@font-face {font-family: "air";
            src: url("fonts/Airborne_86.ttf");
            font-weight: 700;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

html {text-transform: lowercase;}


        h1 {color:blueviolet;
             font-size: 72px; 
             text-transform: lowercase;
              font-family: "air";
             text-align: justify;}

             
        #bioHeader {color: lawngreen;font-family:  "air";}
        #skillsHeader {color:green;font-family: "air";}
        
        .content {color: blue; }
        .bold { font-weight:bold ;}  
        .img-div {background-color: maroon;}
        .light {background-color: mediumorchid;}
        p {
            font-family: 'Roboto';
            text-align: justify;
            text-transform: none;
            font-size: 24px;
            
            font-weight: normal;
            margin: 10px 20px 10px 20px;
            max-width: 75%;
            min-width: 60%;}
img {width: 14.6%; 
     margin: 5%;
     box-shadow: 3px 3px 14px blue;}
     #img-1 {
          position:  ;
          top: ;
          display: ;
          visibility: ;
     }